@typeparam TImageModel

<div class="card" style="@($"width: {PreviewSize}; height: {{PreviewSize}}")">
    <img src="@(ThumbnailUrl(ImageModel))" class="card-img-top" alt="@Alt(ImageModel)">
    @if (AllowDelete && OnDelete != null)
    {
        <div class="card-body d-flex justify-content-between">

            <CustomButton Color=Color.Danger Clicked="@(async() => await OnDelete(ImageModel))" Icon="fa-trash-can"></CustomButton>
        </div>
    }

</div>