@using DrugSchedule.Api.Shared.Dtos

<div class="card list-element flex-row">
    <ImagePreview TImageModel="UserContactSimpleDto"
                  ImageModel="Contact"
                  ThumbnailUrl="@(x => x?.ThumbnailUrl)"
                  PreviewSize="64px">
    </ImagePreview>
    <div class="card-body d-flex">
        <div class="flex-grow-1">@Contact.СontactName</div>
        @if (Contact.IsCommon)
        {
            <div>
                <i class="fa-solid fa-arrow-right-arrow-left text-secondary"></i>
            </div>
        }
        @if (Navigable)
        {
            <CustomButton Text="Open" Class="d-block" Icon="fa-arrow-up-right-from-square" Clicked="Navigate" />
        }
        @if (Selectable)
        {
            <CustomButton Text="@SelectButtonText" Class="d-block" Icon="fa-check" Clicked="SelectAsync" />
        }
    </div>
</div>