@using DrugSchedule.Api.Shared.Dtos
@using DrugSchedule.Client.Constants
@using System.Text.RegularExpressions
@using DrugSchedule.Client.Networking

<Modal @ref="EditModal"
       Animated="true"
       AnimationDuration="400"
       ScrollToTop="true">
    <ModalContent Centered Size="ModalSize.Default" Scrollable>
        <ModalHeader>
            <h5 class="mb-0">Change password</h5>
        </ModalHeader>
        <ModalBody>
            <Validations @ref="Validations" Mode="ValidationMode.Auto" ValidateOnLoad="false">

                <Validation Validator="@ValidateOldPassword">
                    <Field>
                        <FieldLabel>Password</FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="Old password"
                                      Role="TextRole.Password"
                                      @bind-Text=NewPasswordDto.OldPassword>
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>

                <Validation Validator="@ValidateNewPassword">
                    <Field>
                        <FieldLabel>Password</FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="New password"
                                      Role="TextRole.Password"
                                      @bind-Text=NewPasswordDto.NewPassword>
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
            </Validations>
        </ModalBody>
        <ModalFooter Class="d-flex align-content-around flex-wrap">

            <CustomButton Text="Change" Color="Color.Danger" Icon="fa-key" Width="7rem"
                          Clicked="@ChangePasswordAsync" />
            <CustomButton Text="Cancel" Color="Color.Secondary" Icon="fa-ban"
                          Clicked="@(() => EditModal.Hide())" Width="7rem" />
        </ModalFooter>
    </ModalContent>
</Modal>