@using DrugSchedule.Api.Shared.Dtos
@using DrugSchedule.Client.Constants
@using System.Text.RegularExpressions
@using DrugSchedule.Client.Networking

<EmbeddedEditor AllowRemove="false"
                Save="UpdateProfileAsync"
                ItemText="@CurrentUser.Username">
    <EditorModalBody>
        <Field >
            <FieldLabel>Avatar</FieldLabel>
            <FileEdit Changed="@SelectAvatarAsync" Filter="@_avatarFilter" />
            <div class="mt-2">
                @if (CurrentUser.Avatar != null)
                {
                    <CustomButton Class="d-block" Text="Remove existing" Color="Color.Danger" Icon="fa-trash-can" Clicked="DeleteAvatarAsync"/>
                }
                @if (NewAvatar != null)
                {
                    <CustomButton Class="d-block ms-auto" Text="Upload" Color="Color.Primary" Icon="fa-arrow-up-from-bracket" Clicked="SetAvatarAsync" />
                }
            </div>
        </Field>
        <hr class="mb-3"/>

        <Field>
            <FieldLabel>Real name</FieldLabel>
            <TextEdit Placeholder="Optional" @bind-Text=UserUpdateDto.RealName />
        </Field>

        <Field>
            <FieldLabel>Sex</FieldLabel>
            <Select TValue="SexDto" @bind-SelectedValue="UserUpdateDto.Sex">
                <SelectItem Value="SexDto.Undefined">Undefined</SelectItem>
                <SelectItem Value="SexDto.Male">Male</SelectItem>
                <SelectItem Value="SexDto.Female">Female</SelectItem>
            </Select>
        </Field>

        <Field>
            <FieldLabel>Date of birth</FieldLabel>
            <FieldBody>
                <DatePicker TValue="DateOnly?" @bind-Date="UserUpdateDto.DateOfBirth"
                            InputMode="DateInputMode.Date"
                            InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy"
                            Max="@_maxBirthDate" />
            </FieldBody>
            <FieldHelp>Optional. Format: dd.MM.yyyy</FieldHelp>
        </Field>

    </EditorModalBody>
</EmbeddedEditor>