@using DrugSchedule.Api.Shared.Dtos

<div class="animate d-flex mb-1">
    <div class="me-3">
        <span class="me-2">@TimetableEntry.Date.ToLongString()</span>
        @if (!DateOnly)
        {
            <span>-</span>
            <span>@Time</span>
        }
    </div>

    @if (TimetableEntry.ConfirmationId != null)
    {
        <div class="text-secondary me-2">
            <i class="fa-solid fa-check-double"></i>
            @if (NavigableToConfirmation)
            {
                <Blazorise.Link Clicked="NavigateToConfirmation">Confirmed</Blazorise.Link>
            }
            else
            {
                <span>Confirmed</span>
            }
        </div>
    }

    @if (NavigableToSchedule)
    {
        <div class="text-secondary me-2">
                <Blazorise.Link Clicked="NavigateToSchedule">Schedule</Blazorise.Link>
        </div>
    }
</div>