@using DrugSchedule.Api.Shared.Dtos

<div class="card list-element flex-row animate">
    <ImagePreview TImageModel="PublicUserDto"
                  ImageModel="PublicUser"
                  ThumbnailUrl="@(x => x?.ThumbnailUrl)"
                  PreviewSize="48px">
    </ImagePreview>

    <div class="card-body d-flex">
        <div class="flex-grow-1">
            @if (PublicUser.RealName != null)
            {
                <span Class="me-2">@PublicUser.RealName</span>
            }
            <span>@@@PublicUser.Username</span>
        </div>
        
        @if (Selectable)
        {
            <CustomButton Text="@SelectButtonText" Class="d-block" Outline Icon="fa-check" Clicked="SelectAsync" />
        }
    </div>
</div>