
<div class="nav-items">

    <NavLink ActiveClass="current" href="a" Match="NavLinkMatch.All">
        <div class="nav-item">
            <div class="icon fa-solid fa-house"></div>
            <div class="text">Главная</div>
        </div>
    </NavLink>


    <NavLink ActiveClass="current" href="/" Match="NavLinkMatch.All">
        <div class="nav-item">
            <div class="icon fa-solid fa-house"></div>
            <div class="text">Главная</div>
        </div>
    </NavLink>

    <NavLink ActiveClass="current" href="a" Match="NavLinkMatch.All">
        <div class="nav-item">
            <div class="icon fa-solid fa-house"></div>
            <div class="text">Главная</div>
        </div>
    </NavLink>

    <NavLink ActiveClass="current" href="a" Match="NavLinkMatch.All">
        <div class="nav-item">
            <div class="icon fa-solid fa-house"></div>
            <div class="text">Главная</div>
        </div>
    </NavLink>

    <NavLink ActiveClass="current" href="a" Match="NavLinkMatch.All">
        <div class="nav-item">
            <div class="icon fa-solid fa-house"></div>
            <div class="text">Главная</div>
        </div>
    </NavLink>


</div>

@code {

    //[CascadingParameter] public MainLayout MainLayout { get; set; }

    async Task Logout()
    {
        //var result = await MainLayout.Alert.ShowYesNo("Будет выполнен выход из системы. Вы будете перенаправлены на страницу входа. Продолжить?", "Выйти?");
        // if (result == CustomAlert.ModalResult.Yes)
        // {
        //     var baseUri = _navigationManager.BaseUri;
        //   _navigationManager.NavigateTo($"{baseUri}account/logout", true);
        // }
    }
}
