@attribute [Route(Routes.Contacts)]
@using DrugSchedule.Api.Shared.Dtos
@using Microsoft.AspNetCore.Components.Authorization
@inherits DrugSchedule.Client.ViewModels.ContactsViewModel

<PageTitle>Contacts - DrugSchedule</PageTitle>

<AuthorizeView>
    <Authorized>
        
        <div class="d-flex flex-column gap-5">

            @if (IsDetailedView)
            {
                <div Class="d-flex mb-4 gap-3">
                    <CustomButton Clicked="ToContactsHome" Class="d-block" Color="Color.Secondary" Text="Back" Icon="fa-chevron-left"/>
                    <h3 class="d-block">Contact: @Contact.СontactName</h3>
                </div>
            
                <ContactExtended Contact="Contact" />

                <CustomButton Clicked="ShowEditorAsync" Class="d-block" Color="Color.Secondary" Text="Edit or remove contact" Icon="fa-pen" />
            }
            else
            {
                <div Class="d-flex mb-4 gap-3">
                    <h3 class="d-block">Contact: @Contact?.СontactName</h3>
                </div>

                <div>
                    <h4 class="h4 text-primary">Find new contacts:</h4>
                    <UsersList Selectable="true" OnSelect="OnUserSelectAsync" SelectButtonText="Add"/> 
                </div>

                <div>
                    <h4 class="h4 text-primary">Manage contacts:</h4>
                    <ContactsList Selectable="true" OnSelect="OnContactSelectAsync" />
                </div>
            }
        </div>
        
        <EditorModal
            ItemText="@((IsDetailedView ? "Add new contact: " : "Edit contact: ") + Contact?.Username)"
            AllowSave
            AllowRemove="IsDetailedView"
            Save="UpdateContactAsync"
            Delete="RemoveContactAsync">
            <EditorModalBody>
                <Validation Validator="ValidationRule.IsNotEmpty">
                    <Field>
                        <FieldLabel>Contact name (seen only by you)</FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="Name" @bind-Text="NewUserContact.СontactName" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
            </EditorModalBody>
        </EditorModal>

    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo(Routes.Auth);
        }
    </NotAuthorized>
</AuthorizeView>