@page "/"
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium tempor velit, vel lobortis lacus hendrerit non. Sed sollicitudin, lorem ut luctus eleifend, metus tellus facilisis leo, ut iaculis urna nulla vitae nulla. Nunc aliquet pellentesque ante eget mollis. Morbi a ultricies urna, sed scelerisque velit. Praesent a tristique orci, dictum consectetur ante. Sed nunc augue, faucibus non sapien vel, dapibus varius magna. Morbi tristique aliquet sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas auctor convallis orci, et gravida sem placerat non. Proin id lectus leo. Quisque consequat libero pellentesque magna fermentum eleifend. Nam molestie lectus ac ipsum ultrices, in sagittis enim imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Nulla non diam a turpis scelerisque cursus at ut risus. Nam congue risus et volutpat venenatis. Nam pellentesque lobortis placerat. Suspendisse potenti. Donec eros elit, finibus eu gravida in, ultrices ac lectus. Quisque mattis dictum iaculis. Mauris et luctus lacus. Proin et mi eu sem porttitor pharetra. Maecenas ut tellus viverra, lacinia quam varius, semper risus. Ut felis dolor, suscipit eu massa congue, scelerisque auctor mi.
</div>

@code {

}