@attribute [Route(Routes.Schedules)]
@using Microsoft.AspNetCore.Components.Authorization
@inherits DrugSchedule.Client.ViewModels.SchedulesViewModel

<AuthorizeView>
    <Authorized>
        <div class="d-flex flex-column gap-4">
            @if (PageState == PageState.Details)
            {
                <PageTitle>@($"Schedule: {MedicamentName} - DrugSchedule")</PageTitle>
                <div class="h4 mb-0">@($"Schedule: {MedicamentName}")"</div>
                <div>
                    <CustomButton Clicked="ToSchedulesHome" Color="Color.Secondary" Text="To search" Icon="fa-chevron-left" />
                    <CustomButton Clicked="Edit" Color="Color.Secondary" Text="Edit" Icon="fa-pen" />
                </div>
                <ScheduleExtended Schedule="Schedule" UpcomingTimetableEntries="UpcomingTimetable" />
            }
            else if (PageState == PageState.New)
            {
                <PageTitle>New schedule - DrugSchedule</PageTitle>
                <div class="h4 mb-0">New schedule</div>
                <div>
                    <CustomButton Clicked="ToSchedulesHome" Color="Color.Secondary" Text="To search" Icon="fa-chevron-left" />
                </div>
                <div>
                    <ScheduleEditor Schedule="null" /> 
                </div>
            }
            else if (PageState == PageState.Default)
            {
                <PageTitle>Schedules - DrugSchedule</PageTitle>
                <div Class="h4 mb-0">Schedules</div>
                <div>
                    <CustomButton Clicked="CreateNew" Color="Color.Primary" Text="New" Icon="fa-plus" />
                </div>
                <div>
                    <ScheduleList Selectable="false" Navigable />
                 </div>
            }
            else if (PageState == PageState.Editor)
            {
                <PageTitle>@($"Edit schedule: {MedicamentName} - DrugSchedule")</PageTitle>
                <div class="h4 mb-0">@($"Edit schedule: {MedicamentName}")"</div>
                <div>
                    <CustomButton Clicked="ToSchedulesHome" Color="Color.Secondary" Text="To search" Icon="fa-chevron-left" />
                </div>
                <div>
                    <ScheduleEditor Schedule="Schedule" AfterSave="AfterSave" AfterDelete="AfterDelete"/> 
                </div>
            }
        </div>

    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo(Routes.Auth);
        }
    </NotAuthorized>
</AuthorizeView>