@attribute [Route(Routes.Schedules)]
@using Microsoft.AspNetCore.Components.Authorization
@inherits DrugSchedule.Client.ViewModels.SchedulesViewModel

<AuthorizeView>
    <Authorized>
        <div class="d-flex flex-column gap-4">
            @if (PageState == PageState.Details)
            {
                <PageTitle>@($"Schedule: {MedicamentName} - DrugSchedule")</PageTitle>
                <div class="h4 mb-0">@($"Schedule: {MedicamentName}")"</div>
                <div>
                    <CustomButton Clicked="ToSchedulesHome" Color="Color.Secondary" Text="To search" Icon="fa-chevron-left" />
                </div>
                @* <ScheduleExtended Schedule="Schedule" /> *@

                <Accordion>
                    <AccordionItem>
                        <AccordionHeader>
                            <AccordionToggle>Manage schedule</AccordionToggle>
                        </AccordionHeader>
                        <AccordionBody>
                            @* <ScheduleEditor ExistingSchedule="Schedule" 
                                                  AfterSave="AfterSave"
                                                  AfterDelete="AfterDelete" /> *@
                        </AccordionBody>
                    </AccordionItem>
                </Accordion>
            }
            else if (PageState == PageState.New)
            {
                <PageTitle>New user drug - DrugSchedule</PageTitle>
                <div class="h4 mb-0">New user drug</div>
                <div>
                    <CustomButton Clicked="ToSchedulesHome" Color="Color.Secondary" Text="To search" Icon="fa-chevron-left" />
                </div>
                <div>
                    @* <ScheduleEditor ExistingMedicament="null" AfterCreate="AfterSave" /> *@
                </div>
            }
            else if (PageState == PageState.Default)
            {
                <PageTitle>Schedules - DrugSchedule</PageTitle>
                <div Class="h4 mb-0">Schedules</div>
                <div>
                    <CustomButton Clicked="CreateNew" Color="Color.Primary" Text="New" Icon="fa-plus" />
                </div>
                <div>
                    <ScheduleList Selectable="false" Navigable />
                 </div>
            }
        </div>

    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo(Routes.Auth);
        }
    </NotAuthorized>
</AuthorizeView>